* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
	min-height: 100vh;
	font-family: sans-serif;
	text-align: justify;
}

code {
	font-size: 1rem;
}

main {
	padding: 1em;
	max-width: 25em;
	margin: 10em auto;
	background: #fffa;
	color: black;
}

h1 {
	margin: 0;
	text-align: center;
	color: #333;
}
h1 a {
	color: inherit;
	text-decoration: none;
}
h2 {
	margin: 0;
	margin-top: 1em;
	font-size: 1rem;
}
ul {
	margin: 0;
}

form {font-size: .9rem}
input {width: 100%;}
label, #forgotpass {display: block;}
#forgotpass {text-align: right;}
form .error {
	margin-bottom: 1em;
	font-weight: bold;
}

a {
	color: blue;
}
